experiments/cnn-experiment/dataset/preprocessed-dataset/*
!experiments/cnn-experiment/dataset/preprocessed-dataset/.gitkeep

experiments/cnn-experiment/dataset/raw-dataset/*
!experiments/cnn-experiment/dataset/raw-dataset/.gitkeep

experiments/rnn-experiment/dataset/preprocessed-dataset/*
!experiments/rnn-experiment/dataset/preprocessed-dataset/.gitkeep

experiments/rnn-experiment/dataset/raw-dataset/*
!experiments/rnn-experiment/dataset/raw-dataset/.gitkeep
